Repository Lankyadventurer/Verdantia: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.js": ["prettier --write", "eslint --fix", "git add"],
  "*.{json,yml,yaml,css,less,ts,md,graphql,mdx}": [
    "prettier --write",
    "git add"
  ]
}

Initialize Gatsby
  .eslintignore
  .gitignore
  package-lock.json
  package.json
  src/index.js
  src/pages/404.js
  src/pages/index.js
  tsconfig.json
Due: prettier --write, eslint --fix

Prepare theme and layout
  .vscode/tasks.json
  declarations.d.ts
  gatsby-config.js
  package-lock.json
  package.json
  src/components/Header.js
  src/components/Layout.js
  src/components/Nav.js
  src/components/Theme.js
  src/pages/404.js
  src/pages/index.js
  src/templates/Page.js
  tsconfig.json
Due: prettier --write, eslint --fix

Add wiki pages
  gatsby-node.js
  src/components/Header.js
  src/components/Nav.js
  src/components/Theme.js
  src/pages/wiki.js
  src/templates/WikiPage.js
Due: prettier --write, eslint --fix

Add frontmatter to wiki pages
  wiki/Adventurer.md
  wiki/Alfreyr.md
  wiki/Bard.md
  wiki/Carbuncle.md
  wiki/Cleric.md
  wiki/Common-Grounds.md
  wiki/CommonGrounds.md
  wiki/DSC.md
  wiki/Djiin.md
  wiki/Eir'Solum.md
  wiki/Elven.md
  wiki/Flarachnid.md
  wiki/Forbearance.md
  wiki/Gary.md
  wiki/Ghouligan.md
  wiki/Home.md
  wiki/Hostile-Harvester.md
  wiki/Humans.md
  wiki/Kringletown.md
  wiki/Lucius.md
  wiki/Morkos.md
  wiki/OAF.md
  wiki/Orcish.md
  wiki/Quickstart.md
  wiki/Ranger.md
  wiki/Rangers-Enclave.md
  wiki/Rogue.md
  wiki/Rogues-Guild.md
  wiki/Rules.md
  wiki/Sonorous.md
  wiki/Stoneborn.md
  wiki/Taiyra.md
  wiki/Teravale.md
  wiki/Var'Magnus.md
  wiki/Warrior.md
  wiki/Wizard.md
  wiki/_Sidebar.md
Due: prettier --write

Display Wiki items in categories
  gatsby-node.js
  src/components/WikiCategory.js
  src/components/WikiList.js
  src/pages/wiki.js
  src/templates/WikiPage.js
  wiki/DSC.md
  wiki/Eir-Solum.md
  wiki/Home.md
  wiki/Var-Magnus.md
Due: prettier --write, eslint --fix

Style categories and page descriptions
  src/components/Theme.js
  src/components/WikiList.js
  src/pages/index.js
  src/templates/WikiPage.js
Due: prettier --write, eslint --fix

Add categories page
  .vscode/tasks.json
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/Layout.js
  src/components/Nav.js
  src/components/WikiCategory.js
  src/components/WikiCategoryList.js
  src/components/WikiList.js
  src/pages/category.js
  src/pages/index.js
  src/shared/url.js
  src/templates/WikiCategoryPage.js
  src/templates/WikiPage.js
  wiki/Home.md
  wiki/Quickstart.md
  wiki/Rules.md
Due: prettier --write, eslint --fix

Organize wiki directory in preparation for adding a cms
  wiki/entries/adventurer.md
  wiki/entries/alfreyr.md
  wiki/entries/bard.md
  wiki/entries/carbuncle.md
  wiki/entries/cleric.md
  wiki/entries/common-grounds.md
  wiki/entries/djiin.md
  wiki/entries/dsc.md
  wiki/entries/eir-solum.md
  wiki/entries/elven.md
  wiki/entries/flarachnid.md
  wiki/entries/forbearance.md
  wiki/entries/gary.md
  wiki/entries/ghouligan.md
  wiki/entries/home.md
  wiki/entries/hostile-harvester.md
  wiki/entries/humans.md
  wiki/entries/kringletown.md
  wiki/entries/lucius.md
  wiki/entries/mistral.md
  wiki/entries/morkos.md
  wiki/entries/oaf.md
  wiki/entries/orcish.md
  wiki/entries/quickstart.md
  wiki/entries/ranger.md
  wiki/entries/rangers-enclave.md
  wiki/entries/rogue.md
  wiki/entries/rogues-guild.md
  wiki/entries/rules.md
  wiki/entries/sonorous.md
  wiki/entries/stoneborn.md
  wiki/entries/taiyra.md
  wiki/entries/teravale.md
  wiki/entries/var-magnus.md
  wiki/entries/warrior.md
  wiki/entries/wizard.md
  wiki/media/currency.png
Due: prettier --write

Add Netlify and Netlify-CMS configurations
  gatsby-config.js
  package-lock.json
  package.json
  static/admin/config.yml
Due: prettier --write, eslint --fix

Add Netlify build config
  netlify.toml
Due: none

Fix cms config
  static/admin/config.yml
Due: prettier --write

Add nvmrc
  .nvmrc
Due: none

Update Wiki Entry “rules”
  wiki/entries/rules.md
Due: prettier --write

Adjust cms title
  gatsby-config.js
Due: prettier --write, eslint --fix

Tighten layout
  src/components/Header.js
  src/components/Layout.js
  src/components/Nav.js
  src/components/Theme.js
  src/components/WikiList.js
Due: prettier --write, eslint --fix

Adjust configs
  .eslintignore
  .gitignore
  README.md
  jest.config.js
  package.json
Due: prettier --write, eslint --fix

Replace ch with em to reduce layout jitter
  .prettierrc
  src/components/Layout.js
Due: prettier --write, eslint --fix

Adjust cms config
  static/admin/config.yml
Due: prettier --write

Update dependencies
  package-lock.json
  package.json
  static/admin/config.yml
Due: prettier --write

Add edit link per wiki page
  package-lock.json
  package.json
  src/templates/WikiPage.js
Due: prettier --write, eslint --fix

Add footer
  src/components/Footer.js
  src/components/Header.js
  src/components/Layout.js
  src/components/WikiList.js
Due: prettier --write, eslint --fix

Add responsive nav
  gatsby-browser.js
  gatsby-ssr.js
  src/components/Header.js
  src/components/Layout.js
  src/components/Nav.js
  src/templates/Page.js
  src/templates/WikiCategoryPage.js
  src/templates/WikiPage.js
Due: prettier --write, eslint --fix

Create different category groups in the CMS
  static/admin/config.yml
  wiki/characters/carbuncle.md
  wiki/characters/gary.md
  wiki/characters/ghouligan.md
  wiki/characters/lucius.md
  wiki/classes/adventurer.md
  wiki/classes/bard.md
  wiki/classes/cleric.md
  wiki/classes/ranger.md
  wiki/classes/rogue.md
  wiki/classes/warrior.md
  wiki/classes/wizard.md
  wiki/factions/dsc.md
  wiki/factions/morkos.md
  wiki/factions/oaf.md
  wiki/locations/alfreyr.md
  wiki/locations/common-grounds.md
  wiki/locations/eir-solum.md
  wiki/locations/forbearance.md
  wiki/locations/kringletown.md
  wiki/locations/mistral.md
  wiki/locations/rangers-enclave.md
  wiki/locations/rogues-guild.md
  wiki/locations/sonorous.md
  wiki/locations/taiyra.md
  wiki/locations/teravale.md
  wiki/locations/var-magnus.md
  wiki/main/home.md
  wiki/main/quickstart.md
  wiki/main/rules.md
  wiki/monsters/djiin.md
  wiki/monsters/flarachnid.md
  wiki/monsters/hostile-harvester.md
  wiki/races/elven.md
  wiki/races/humans.md
  wiki/races/orcish.md
  wiki/races/stoneborn.md
Due: prettier --write
